:root {

/* Palette */

--_palette-greyscale-100: rgba(255, 255, 255, 1);
--_palette-greyscale-700: rgba(24, 24, 24, 1);
--_palette-greyscale-900: rgba(0, 0, 0, 1);
--_palette-yellow-300: rgba(254, 238, 190, 1);

/* Global variables */

--c-primary-dark: var(--_palette-greyscale-900);
--c-primary-default: var(--_palette-greyscale-700);
--c-primary-light: var(--_palette-greyscale-100);
--c-secondary-default: var(--_palette-yellow-300);

/* Sizing */

--container-gutter-inline: 32px;
--container-gutter-block: 28px;
}


@media (min-width: 768px) {

  :root {
    --container-gutter-inline: 40px;
    --container-gutter-block: 40px;
  }

}

@media (prefers-color-scheme: dark) {

  :root {
    --c-primary-default: var(--_palette-greyscale-100);
    --c-primary-light: var(--_palette-greyscale-700);
  }
}
